*{
    margin: 0;
    padding: 0;
}

:root{
    --first-color: #F8843F;
    --second-color: #DA3D20;
    --third-color: #3D45AA;

    --gap: 30px;
}

/*
 font-family: 'Open sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body{

    font-family: 'Open sans', sans-serif;
    font-size: 15px;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 850;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 48px ;
}

h3{
    font-size: 41px ;
}

h4{
    font-size: 34px ;
}

h5{
    font-size: 28px ;
}

h6{
    font-size: 21px ;
}

.main-bg{

    background-image: url('landingpagetest/assets/img/background-svg2.svg');
    background-position: center center;
    background-size: contain;
}

.white-bg{

    background-image: url('landingpagetest/assets/img/background-svg1.svg');
    background-position: center center;
    background-size: contain;
}

.main-content{
    color:#ffff;
    max-width: 1200px;
    margin: 0 auto ;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
}