*{
    margin: 0;
    padding: 0;
}

:root{

}

/*
 font-family: 'Open sans', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body{
    font-family: 'Open sans', sans-serif;
    background-image: url('/landingpagetest/assets/img/background-svg.svg');
    background-position: center center;
    background-size:contain;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 850;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 48px ;
}

h3{
    font-size: 41px ;
}

h4{
    font-size: 34px ;
}

h5{
    font-size: 28px ;
}

h6{
    font-size: 21px ;
}